/* Mobile First*/
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Card Block */
.card {
  background: var(--dark-grayish-blue);
  min-width: 400px;
  min-height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__header {
  color: var(--neon-green);
  font-size: 16px;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Desktop */
@media (min-width: 768px) {
}
