@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Mobile First*/
:root {
  font-family: "Manrope", sans-serif;
  font-weight: 800;

  font-synthesis: none; /* mengontrol bagaimana browser mensintesis gaya tipografi (weight, style, dan small-caps) ketika gaya tersebut tidak tersedia dalam font yang digunakan */
  text-rendering: optimizeLegibility; /* wmengontrol bagaimana teks dirender oleh browser berdasarkan ligatur, kerding dan hinting */
  -webkit-font-smoothing: antialiased; /* mengontrol bagaimana teks dirender pada browser berbasis WebKit, seperti Google Chrome dan Safari */
  -moz-osx-font-smoothing: grayscale; /* mengontrol bagaimana teks dirender pada browser berbasis Gecko di sistem operasi macOS, seperti Mozilla Firefox */

  /* Color CSS custom properties */
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-blue);
  width: 100%;
  height: 100vh; /* mengambil seluruh ketinggian pada layar */
  /* place-items: center; ini mirip dengan align-item: center; dan tidak bisa membuat item di tepat di tengah (horizontal & vertical)*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

main {
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  cursor: pointer;
}
a:hover {
  color: #535bf2;
}

/* footer kali ini aku tidak menggunakan flex:1 pada main agar footer bisa dengan solid dan kokoh menempel di bagian bawah web */
footer {
  background: white;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Desktop */
@media (min-width: 768px) {
}
