@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Mobile First*/
:root {
  font-family: "Manrope", sans-serif;
  font-weight: 800;

  font-synthesis: none; /* mengontrol bagaimana browser mensintesis gaya tipografi (weight, style, dan small-caps) ketika gaya tersebut tidak tersedia dalam font yang digunakan */
  text-rendering: optimizeLegibility; /* wmengontrol bagaimana teks dirender oleh browser berdasarkan ligatur, kerding dan hinting */
  -webkit-font-smoothing: antialiased; /* mengontrol bagaimana teks dirender pada browser berbasis WebKit, seperti Google Chrome dan Safari */
  -moz-osx-font-smoothing: grayscale; /* mengontrol bagaimana teks dirender pada browser berbasis Gecko di sistem operasi macOS, seperti Mozilla Firefox */
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* place-items: center; ini mirip dengan align-item: center; dan tidak bisa membuat item di tepat di tengah (horizontal & vertical)*/
}

h1 {
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  font-weight: 600;
  color: #646cff;
}
a:hover {
  color: #535bf2;
  cursor: pointer;
}

/* Desktop */
@media (min-width: 768px) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
